# Dependências
node_modules/

# Ambiente
.env
.env.local

# Build
dist/
build/
.expo/

# Editor / SO
.DS_Store
.vscode/
*.log

# Expo / React Native
apps/mobile/android/
apps/mobile/ios/
*.tsbuildinfo
